body {
    padding-top: 1rem;
}

main {
    padding: 3rem 1.5rem;
    text-align: center;
}

.tm_text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    fill: white;
}

.axis text{
    font-family: "Adobe Caslon Pro";
    font-size: 15px;
    fill: #010b0f;
}

.axis line{
    stroke: #7cad2e;
}

.axis path{
    stroke: #7cad2e;
}

body {

    margin: 15px;
    background-color: #F1F3F3
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x path {
    display: none;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    border-radius: 10px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #0f95bb;
    padding: 14px;
    text-align: center;
}


IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

h1{
    font-family: "Open Sans Semibold";
    text-align: center;
}

.btn-group{
    text-align: center;
}
.mon_btn{
    background: #ffffff;
    border-radius: 6px;

}
.prix_btn{
    background: #ffffff;
    border-radius: 6px;
}

#chart{
    margin-left: 16rem ;
}
.mon_btn:focus{
    background-color: #039fcc;
    transform: translateY(4px);
}
.prix_btn:focus{
    background-color: #039fcc;
    transform: translateY(4px);
}
