body {
    padding-top: 1rem;
}

main {
    padding: 3rem 1.5rem;
    text-align: center;
}

.tm_text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    fill: white;
}

.axis text{
    font-family: "Adobe Caslon Pro";
    font-size: 15px;
    fill: #010b0f;
}

.axis line{
    stroke: #7cad2e;
}

.axis path{
    stroke: #7cad2e;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e6e6e6;
    color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-group-prix button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

body {

    margin: 15px;
    background-color: #F1F3F3
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x path {
    display: none;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    border-radius: 10px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #0f95bb;
    padding: 14px;
    text-align: center;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e6e6e6;
    color: black;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }